.loginContainer{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 20px;
    padding-bottom: 50px;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
}