ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFDD99;
  }

  li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
  }

  a{
    text-decoration: none;
  }

  .nav-button{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFDD99;
    padding: 25px;
    color: navy;
    border: none;
  }

  .nav-button:hover{
    background-color: lightgoldenrodyellow;
  }