@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

h1 {
  font-family: 'Fredoka One', cursive;
  background-color: #FFDD99;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
}

body{
  background-color: #DAEBFE;
  color: #003B5C;
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}