@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro&display=swap');

h1 {
  font-family: 'Fredoka One', cursive;
  background-color: #FFDD99;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
}

body{
  background-color: #DAEBFE;
  color: #003B5C;
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  text-align: center;
}

a{
  color: #003B5C;
}

button {
  background-color: #FFDD99; /* Green */
  border: solid;
  border-color: #ffc34f;
  color: #003B5C;
  padding: 3px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px
}

button:hover{
  background: lightgoldenrodyellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}